{% extends "base_public.html.twig" %}

{% block body %}
    <div class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
        <div class="w-full p-6 bg-white border-t-4 border-accent rounded-md shadow-md border-top lg:max-w-lg">
            <div class="p-4 prose-sm prose-slate">
                {% include "partial/disclaimer.html.twig" %}
            </div>
            <a href="{{ url('login') }}" class="btn btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                </svg>

                Torna indietro
            </a>
        </div>
    </div>
{% endblock %}
