<article>
    <h1>Termini e condizioni</h1>
    <p>
        Questo software è fornito "così com'è", senza garanzie di alcun tipo, espresse o implicite. L'utilizzo del software è a rischio esclusivo dell'utente.
    </p>
    <p>
        Le caratteristiche di sicurezza includono un design stateless e l'assenza di un database, che mirano a garantire l'anonimato e la sicurezza dei dati.
        Tuttavia, non viene fornita alcuna garanzia in merito all'inviolabilità dei dati o alla sicurezza complessiva del sistema.
    </p>
    <p>
        Questo è un progetto open-source, disponibile su <a class="btn btn-xs" href="https://github.com/bsramin/simple-domus" target="_blank">GitHub</a>.
        Gli utenti sono incoraggiati a contribuire o esaminare il codice per comprenderne meglio le funzionalità e le limitazioni.
    </p>
    <p>
        L'applicazione offre un'interfaccia ottimizzata per dispositivi mobili, ma non viene garantita la perfetta funzionalità su ogni dispositivo mobile.
        Gli autori non sono responsabili per eventuali problemi di compatibilità o per danni derivanti dall'uso.
    </p>
</article>
